/*===== CONFIRMATION TABLE =====*/
.confirmation {
  width: 100%;
  height: auto;
  padding-top: 90px;
}

/*-- GIFT TABLE TITTLE CONTENT --*/
.confirmation__tittle-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #1b1919;
  font-family: "Yellowtail";
  text-align: center;
  position: relative;
    animation: rigth linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 30%;
}

.confirmation__tittle {
  font-size: 40px;
}




/*-- CONFIRMAATION LINKS CONTENT --*/
.confirmation__links-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 45px;
    position: relative;
    animation: showleft linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 30%;
}

.confirmation__link{
    width: 300px;
    height: 60px;
    background: #d3970a;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 19px;
    border-radius: 90px;
}